* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(img/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    margin: 0 auto 0 60px;
    width: 1000px;
    
}

nav{
   width: 100%; 
   height: 70px;
   background-color: white;
}

ul {
    margin-left: 750px;
}
ul li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
}
 
ul li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: navy;
    padding: 0 20px;
}
 
ul li a:hover {
    color: rgb(5, 173, 252);
     
}
h3 {
    padding: 60px;
    margin: 60px;
    font-size: 30px;
}
.logo {
    position:absolute;
    height: auto;
    left: 0px;
    width: 250px;
}
.c1 {
position: relative;
min-height: 100vh;
padding: 50px 100px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}




* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: navy;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(5, 173, 252);
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }


 